.landing-image{
    width: 80%;
    height: 70%;
    padding: 20px;
  
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  padding-top: 100px; 
    align-items: center; 
    height: 100vh;
    background-color: #6b7a87;
    padding-bottom: 15px;

    >p{
        size: 20px;
    }

 
}

.buttom-container{
    margin-bottom: 20px;
}

#text1{
    color: #333333;     
    font-size: 20px;
    >a{
        font-style: italic;
     
        color: #333333;     
    }
}