.landing-image{
    width: 92.5%;
    height: 60%;
    padding: 10px;
  
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  padding-top: 0px; 
    align-items: center; 
    height: 90vh;
    background-color: #6b7a87;
    padding-bottom: 0px;

    >p{
        size: 20px;
    }

 
}

.buttom-container{
  margin-top: 0;
   
}

#text1{
    color: #333333;     
    font-size: 20px;
    >a{
        font-style: italic;
     
        color: #333333;     
    }
}