<div class="conter-quotes">
  <img
    class="animate__animated animate__fadeInLeft animate__slower"
    src="/../assets/images/miyamoto-about-art.jpg
  "
    alt="miyamoto"
    (click)="playMusic()"
    id="imageQuote0"
  />
  <div style="display: flex; align-items: center; padding-left: 20px">
    <p
      class="animate__animated animate__fadeInRight animate__slower quote-text animate__delay-2s"
      id="textQuote0"
    >
      Miyamoto Mushashi was a samurai, <br />
      that killed 70 mens, <br />
      and say this quote:
      <br />
      <strong>
        Once you understand the way broadly, <br />
        you can see it in all things.</strong
      >
    </p>
  </div>
</div>
