
 .quote-images{
    margin: 10px 10px;
    width: 60vh;
    height: 50vh;
    padding: 10px;
    margin-left: 5vh;
 }

 .conter-quotes{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .quote-text{
    font-size: 15px;
    text-align: center;
    text-decoration: dotted;
    color: #39434b;
    font-style: italic;
    max-width: 70%; 
    word-wrap: break-word;
   // --animate-duration: 0.9s;
 }

 .custom-button{
   display: flex;
   align-items: center;
   justify-content: center;
 margin-top: 20px;
 margin-bottom: 20px;
 }

 .text-continer{
   display: flex; 
   align-items: center; 
   justify-content: flex-end;
   width: 50%;
   padding-left: 20px
 }