

.head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    >img{
        margin: 10px 10px;
        width: 500px;
        height: 500px;
        background-color:  #7c8896;  width: 600px;
        padding: 20px;

    }
    >p{
       
        font-size: 20px;
        text-align: center;
        text-decoration: dotted;
        color: #4f5a65;
    }
    >span{
        font-size: 10px;
        color: #7c8896;
    }
    >h1{
       color: #7c8896;     
       font-size: 40px;
    }
   
 }

 .body-text{
    >p{
        font-size: 15px;
        text-align: center;
        text-decoration: dotted;
        color: #39434b;
        font-style: italic;
    }
 }

 .quote-images{
    margin: 10px 10px;
    width: 60vh;
    height: 50vh;
    padding: 10px;
    margin-left: 15vh;
 }

 .conter-quotes{
    display: flex;
    justify-content: center;

 }

 .quote-text{
    font-size: 15px;
    text-align: center;
    text-decoration: dotted;
    color: #39434b;
    font-style: italic;
   // --animate-duration: 0.9s;
 }

 .custom-button{
   display: flex;
   align-items: center;
   justify-content: center;
 margin-top: 20px;
 margin-bottom: 20px;
 }

 .text-continer{
   display: flex; 
   align-items: center; 
   padding-left: 20px
 }