.footer-container{
    background-color: #333333;
    display: flex;
   align-items: center;  
    height:  16vh;
    color: #7c8896;     
    font-size: 20px;
    bottom: 0;

}

.linkedin{
    height:  5vh;
    width: 5vh;
    margin-left: 2.5vh;
}

.left-container{
   flex: 1.5;
   display: flex;
   align-items: center;

   >span{
    margin-left: 5vh;
   }
   >a{
    font-style: italic;
    font-size: 15px;
    color:   #7c8896;
    display: flex;
    align-items: center;
    margin-left: 5vh;
}
}


.rigth-container{
  flex:1.5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  >img{
    height:  15vh;
    width: 15vh;
    margin-left: 5vh;
    margin-right: 2.5vh;
    }
}