<div class="footer-container">
  <div class="left-container">
    <span>Create by: <strong> Alejandro Salvatierra </strong> </span>

    <a
      href="https://www.linkedin.com/in/alejandro-salvatierra-0651a2222/"
      target="_blank"
    >
      Linkedin Profile

      <img
        src="/../assets/images/linkedin.svg"
        alt="linking"
        class="linkedin"
      />
    </a>
  </div>

  <div class="rigth-container">
    <span>This is a Fan page with non profit</span>
    <img src="/../assets/images/smile.jpg" alt="smile" />
  </div>
</div>
