<div>
  <div class="head">
    <h1>Musahi miyamoto</h1>
    <div class="conter-quotes">
      <img
        class="animate__animated animate__fadeInLeft animate__slower"
        src="/../assets/images/miyamoto-about-art.jpg
    "
        alt="miyamoto"
        (click)="playMusic()"
      />
      <div style="display: flex; align-items: center; padding-left: 20px">
        <p
          class="animate__animated animate__fadeInRight animate__slower quote-text animate__delay-2s"
        >
          Miyamoto Mushashi was a samurai, <br />
          that killed 70 mens, <br />
          and say this quote:
          <br />
          <strong>
            Once you understand the way broadly, <br />
            you can see it in all things.</strong
          >
        </p>
      </div>
    </div>

    <div class="body-text">
      <p>
        So you wanna see the way widely, <br />
        let's see some quotes that you can found <br />
        in the manga <strong>Vagabond</strong> create By the master: <br />
        <strong>Takehiko Inoue</strong>
      </p>
      <div class="conter-quotes">
        <img
          src="/../assets/images/quote1.jpg"
          alt="quote1"
          class="quote-images"
        />

        <p class="quote-text">
          Whatever happens, happens... <br />
          <!-- think about your big problem <br />
              is next to you ready to atack <br />
              and what will do you? <br />
              take a breath... <br />
              in the most case <br />
              what is worts thingh can <br />
              be happens, the presente <br />
              is the moment that you can <br />
              use in focus in yourself <br /> -->
          and the things that make you happy <br />
          When faced with life's challenges, <br />
          consider that your greatest adversary <br />
          is often right beside you, <br />
          ready to strike. <br />
          The question is, how will you respond? <br />Take a moment to breathe,
          for in most cases, <br />
          the worst thing that can happen <br />is already in the past or maybe
          in the future. <br />
          The present moment offers an opportunity <br />
          to focus on yourself and the things <br />
          <strong> that bring you happiness.</strong>
        </p>
      </div>
    </div>

    <audio
      id="myAudio"
      src="/../assets/music/AruarianDance.mp3"
      controls
      autoplay
      loop
      hidden
    >
      <p>
        If you are reading this, it is because your browser does not support the
        audio element.
      </p>
    </audio>
  </div>
</div>
<div>
  <app-footpage></app-footpage>
</div>
