<div>
  <div class="head">
    <h1>Musahi Miyamoto</h1>
    <div class="conter-quotes">
      <img
        class="animate__animated animate__fadeInLeft animate__slower"
        src="/../assets/images/miyamoto-about-art.jpg
    "
        alt="miyamoto"
        (click)="playMusic()"
        id="imageQuote0"
      />
      <div style="display: flex; align-items: center; padding-left: 20px">
        <p
          class="animate__animated animate__fadeInRight animate__slower quote-text animate__delay-2s"
          id="textQuote0"
        >
          Miyamoto Mushashi was a samurai, <br />
          that killed 70 mens, <br />
          and say this quote:
          <br />
          <strong>
            Once you understand the way broadly, <br />
            you can see it in all things.</strong
          >
        </p>
      </div>
    </div>

    <div class="body-text">
      <p class="animate__animated animate__fadeInUp animate__delay-8s">
        So you wanna see the way widely, <br />
        let's see some quotes that you can found <br />
        in the manga <strong>Vagabond</strong> create By the master: <br />
        <strong>Takehiko Inoue</strong>
      </p>
      <!-- <div class="conter-quotes">
        <img
          src="/../assets/images/quote1.jpg"
          alt="quote1"
          class="quote-images"
        />

        <p class="quote-text">
          Whatever happens, happens... <br />
          and the things that make you happy <br />
          When faced with life's challenges, <br />
          consider that your greatest adversary <br />
          is often right beside you, <br />
          ready to strike. <br />
          The question is, how will you respond? <br />Take a moment to breathe,
          for in most cases, <br />
          the worst thing that can happen <br />is already in the past or maybe
          in the future. <br />
          The present moment offers an opportunity <br />
          to focus on yourself and the things <br />
          <strong> that bring you happiness.</strong>
        </p>
      </div>
    </div> -->

      <audio
        id="myAudio"
        src="/../assets/music/AruarianDance.mp3"
        controls
        autoplay
        loop
        hidden
      >
        <p>
          If you are reading this, it is because your browser does not support
          the audio element.
        </p>
      </audio>
    </div>
  </div>
  <div>
    <app-footpage></app-footpage>
  </div>
</div>
